<%- include('partials/head') %>

    <div class="container">
        <h1>Hola amigos</h1>
        <div class="card" style="width:100%">
            <img src="/img/greenalien.jpg" alt="">
        </div>
    </div>

<%- include('partials/footer') %> 
